body{
  background-image: url(../../public/foodLogo.png);
  background-size: 130px;
  background-repeat: space;
  background-color: rgba(255, 255, 255, 0.5);

}

input[type=text] {
    float: center;
    padding: 6px;
    border: solid lightblue 2px;
    border-radius: 5%;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}

.cardHolder {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(900px, 1fr)); /* Adjust minmax values as needed */
    gap: 20px;
  }
  
  .recipeCard {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    height: 300px;
    background-color: #f9f9f9;
    background-size: contain;
  }
  
  .author {
    font-weight: bold;
  }
  
  .foodName {
    text-align: center;
    font-size: 1.7em;
    margin-top: 10px;
  }
  
  .description {
    text-align: center;
  }
  
  .ingredients {
    margin-top: 10px;
  }

  a{
    text-decoration: none;
    color: black;
  }

  .shaded{
    background-color: rgba(0, 0, 0, 0.6);
  }

  .bolded{
    color: white;
    font-weight: bold;
    text-shadow: 
        -1.25px -1.25px 0 #000,  
        1.25px -1.25px 0 #000,
        -1.25px 1.25px 0 #000,
        1.25px 1.25px 0 #000;
  }