.recipeCard {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  height: 300px;
  background-color: #f9f9f9;
}

.author {
  font-weight: bold;
}

.foodName {
  text-align: center;
  font-size: 1.7em;
  margin-top: 10px;
}

.description {
  text-align: center;
}

.ingredients {
  margin-top: 10px;
}

a {
  text-decoration: none;
  color: black;
}

.shaded {
  background-color: rgba(0, 0, 0, 0.6);
}

.bolded {
  color: white;
  font-weight: bold;
  text-shadow: -1.25px -1.25px 0 #000, 1.25px -1.25px 0 #000,
    -1.25px 1.25px 0 #000, 1.25px 1.25px 0 #000;
}

.center {
  display: grid;
  padding: 3% 40%;
}
